<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 list</title>
</head>
<body>

<div th:each="item : ${test}">
    <label>TEST</label>
    <label th:text="${item}"></label>
</div>
<table>
    <thead>
    <tr>
        <th>NO</th>
        <th>제목</th>
        <th>내용</th>
        <th>조회수</th>
        <th>작성자</th>
        <th>작성날짜</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="item : ${boardList}">
        <td th:text="${item.bno}">1</td>
        <td th:text="${item.title}">Title</td>
        <td th:text="${item.content}">Title</td>
        <td th:text="${item.hitCnt}">0</td>
        <td th:text="${item.writer}">Writer</td>
        <td th:text="${item.createdDate}">createdDate</td>
    </tr>
    </tbody>
</table>


</body>
</html>