<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3><a th:href="@{~/introdution}">Center Introdution</a></h3>
    <div>
        <a th:href="@{~/introdution/greeting}">greeting</a>
        <a th:href="@{~/introdution/history}">history</a>
        <a th:href="@{~/introdution/vision}">mission and vision</a>
        <a th:href="@{~/introdution/org-chart}">organization chart</a>
        <a th:href="@{~/introdution/logo}">center logo</a>
        <a th:href="@{~/introdution/visit}">how to visit</a>
    </div>

    <h3><a th:href="@{~/participation}">Participation Square</a></h3>
    <div>
        <a th:href="@{~/participation/edu-application}">education application</a>
        <a th:href="@{~/participation/edu-qualification}">education qualification</a>
        <a th:href="@{~/participation/servey}">Servey</a>
        <a th:href="@{~/participation/qna}">Qna</a>
        <a th:href="@{~/participation/faq}">Faq</a>
    </div>

    <a th:href="@{major-businesses}" > 주요사업 </a> <br/>
    <a th:href="@{agency-news}" > 기관소식 </a>  <br/>
    <a th:href="@{health}" > 학생정신건강정보 </a>

</body>
</html>