<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>introdution</title>
</head>
<body>
    <div id="section">
        <section layout:fragment="content">
            <h1>기관소개</h1>
            <div>
                <ul>
                    <li><a th:href="@{~/introdution/greeting}">인사말</a></li>
                    <li><a th:href="@{~/introdution/history}">연혁</a></li>
                    <li><a th:href="@{~/introdution/vision}">미션과 비젼</a></li>
                    <li><a th:href="@{~/introdution/org-chart}">조직도</a></li>
                    <li><a th:href="@{~/introdution/logo}">센터로고</a></li>
                    <li><a th:href="@{~/introdution/visit}">찾아오시는 길</a></li>
                </ul>
            </div>
        </section>
    </div>
</body>
</html>