<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/introdution-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>logo</title>
    <style>
        .logo-style {
            margin: 20px;
        }
        a {
            margin: 20px;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <h2>센터로고</h2>
    <div class="logo-style">
        <h3>심볼마크(Simbol Mark)</h3>
        <button>
            <a th:href="@{~/resources/picture/4p_Symbol_mark.png}" target="_blank">PNG Download</a>
        </button>
        <button>
            <a th:href="@{~/resources/picture/4p_Symbol_mark.ai}" target="_blank">Ai Download</a>
        </button>
    </div>

    <div class="logo-style">
        <h3>파일업로드</h3>
        <form action="/introdution/file/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="uploadFile" />
            <input type="submit" value="업로드" />
        </form>
    </div>
</section>
</body>
</html>