<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/introdution-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>visit</title>
    <style>
        .visit-text-style {
            margin: 20px;
            display: inline-block;
            float: contour;
        }
    </style>
    <!--
            2. 설치 스크립트
            * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
    -->
    <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
    <!-- 3. 실행 스크립트 -->
    <script charset="UTF-8">
        window.onload = function () {
            new daum.roughmap.Lander({
                "timestamp" : "1626747963351",
                "key" : "26om5",
                "mapWidth" : "640",
                "mapHeight" : "360"
            }).render();
        }
    </script>
</head>
<body>
<section layout:fragment="content">
    <h2>찾아오시는 길</h2>
    <div>
        <div class="visit-text-style">
            <h3>위치</h3>
            <p>[도로명] 서울시 동작구 남부순환로 2075 3층</p>
            <p>[지번주소] 서울시 동작구 사당동 1044-30</p>
        </div>
        <div class="visit-text-style">
            <h3>문의</h3>
            <p>Tel.02-6959-4638 / Fax.02-6925-4120</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <!-- * 카카오맵 - 지도퍼가기 -->
    <!-- 1. 지도 노드 -->
    <div id="daumRoughmapContainer1626747963351" class="root_daum_roughmap root_daum_roughmap_landing"></div>
</section>
</body>
</html>