<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/news-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="section">
    <section layout:fragment="content">
        <h1>기관소식</h1>
        <div>
            <ul>
                <li><a th:href="@{~/agency-news/notice}"> 공지사항 </a></li>
                <li><a th:href="@{~/agency-news/album}"> 갤러리 </a> </li>
                <li><a th:href="@{~/agency-news/bid}"> 기타 </a></li>
            </ul>
        </div>
    </section>
</div>

</body>
</html>